/* admin.css */
.adminForm {
    width: 80%;
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 10%;
    padding: 20px;
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    /* Ensure form background is white */
}

.page-title-details {
    padding: 10px 0;
    border: 1px solid gray;
    margin-bottom: 20px;
}

.page-title-details h2 {
    text-align: center;
    margin: 0;
}

.ant-form-item {
    margin-bottom: 20px;
}

.ant-form-item-label>label {
    font-weight: bold;
}

.ant-input,
.ant-select-selector,
.ant-upload {
    border-radius: 4px;
    /* Match the default Ant Design border radius */
}

.ant-btn-primary {
    background-color: green;
    border-color: green;
}

.ant-btn-primary:hover {
    background-color: darkgreen;
    border-color: darkgreen;
}

.upload-btn:hover {
    background-color: rgb(19, 108, 19);
}
.imgUpContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.image-preview {
    margin-top: 10px;
    text-align: center;
}

.image-preview img {
    max-width: 150px;
    max-height: 150px;
    border: 1px solid #dddddd;
    padding: 5px;
}

.lat_long {
    display: flex;
    align-items: flex-end;
    /* background-color: aqua; */
    justify-content: end;
    padding: 0;
}

.lat_long_btn {
    height: 30px;
    padding: 0;
}