:root {
  --black: #1f1f1f;
  --white: #fff;
  --yellow: #ffc554;
  --deep-yellow: #ffc727;
  --bg-yellow: #fffaf1;
  --btn-yellow: #fff4d4;
  --footer-yellow: #fff9e9;
  --grey: #737373;
  --box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
  --transition: all 0.3s ease;
}

.logo{

}
.logo:hover{
  cursor: pointer;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px;
  background: var(--white);
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: var(--box-shadow);
  z-index: 1000;
}


/* .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #fff;
} */





.search-container {
  display: flex;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 5px 10px;
  border-radius: 5px;
  width: 50%;
  border: 1px solid transparent;
  transition: border-color 0.3s;
}

.search-container.active {
  border-color: #007bff; /* Highlight color */
}

.search-by-dropdown {
  padding: 5px;
  border: none; /* Remove border */
  outline: none;
  color:gray;
  background: none; /* Remove default background */
  font-size: 16px; /* Font decoration */
  font-family: 'Arial', sans-serif; /* Font decoration */
}

.search-by-dropdown::after {
  content: ' ';
  display: inline-block;
  width: 1px;
  height: 64px;
  background-color: black; /* Vertical line color */
  margin-left: 10px;
}
.vertical-line{
  height:16px;
  border: 1px solid gray;
}

 .auto-complete {
  width: 100% !important;
 }
.auto-complete .ant-select-selector{
  border: none !important;
}
.ant-select-focused .ant-select-selector,
.ant-select-selector:focus,
.ant-select-selector:active,
.ant-select-open .ant-select-selector {
  border-color: #d9d9d9 !important;
  box-shadow: none !important;
  outline: none !important;
}

.search-icon {
  cursor: pointer;
  background: none;
  border: none;
  margin-left: auto; /* Push the icon to the right end */
  padding: 5px;
}

.notification-badge {
  cursor: pointer;
}

.menu-icon {
  cursor: pointer;
}




















.menu-icon {
  display: none;
}

.menu-icon:hover {
  cursor: pointer;
}

.sidenav-overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1001;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  opacity: 0;
  transition: var(--transition);
}

.sidenav-overlay.visible {
  visibility: visible;
  opacity: 1;
}

.sidenav {
  height: 100%;
  width: 300px;
  position: fixed;
  z-index: 1002;
  top: 0;
  left: -300px;
  background-color: var(--white);
  padding-top: 60px;
  box-shadow: var(--box-shadow);
  transition: var(--transition);
}

.sidenav.open {
  left: 0;
}

.sidenav .closebtn {
  position: absolute;
  top: 20px;
  right: 25px;
  font-size: 36px;
}

.sidenav-extra {
  padding: 16px 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.top-left-container {
  position: absolute;
  top: 16px;
  left: 16px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.logo img {
  max-width: 50px;
  width: 100%;
  border-radius: 50%;
}

.sidenav-extra .ant-select,
.sidenav-extra .ant-btn {
  width: 100%;
}

.cart-badge {
  font-size: 24px;
  cursor: pointer;
}
.search-field{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  /* width:90%; */
}
/* Add this CSS to your styles */
.clear-filter {
  background-color: lightgray; /* A nice red color */
  color: white;
  border: none;
  border-radius: 50%; /* Makes the button circular */
  width: 15px; /* Width of the button */
  height: 15px; /* Height of the button */
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-left:15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Adds a subtle shadow */
  transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Adds transition for hover effect */
}

.clear-filter:hover {
  background-color: lightgray; /* A lighter red on hover */
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15); /* Slightly bigger shadow on hover */
}

/* Optional: For better accessibility */
.clear-filter:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(62, 62, 62, 0.132); /* Focus ring for better accessibility */
}



@media (max-width: 768px) {
  .menu-icon {
    display: block;
  }
  .search-container {
    max-width: 100%;
    margin: 0;
  }
  .select-locale{
    display: none;
  }
  .search-by-dropdown{
    display: none;
  }
  .notification-badge{
    display: none;
  }
  .vertical-line{
    display: none;
  }
}
